<div class="row">
  <div class="col-sm-11">
    <app-filter-input placeholder="Select category"
                      [items$]="categories$"
                      [(selection)]="category">
    </app-filter-input>
    <select #difficulty id="difficultySelect">
      <option>Select difficulty</option>
      <option>Easy</option>
      <option>Medium</option>
      <option>Hard</option>
    </select>
    <button class="primary" id="createBtn" (click)="createQuiz(category.id.toString(), difficulty.value)">Create</button>
  </div>
</div>
<div class="row">
   <app-quiz [questions]="questions$ | async" ></app-quiz>
</div>
