<div class="row">
  <div class="col-sm-11">
    <app-filter-input id="categorySelect"
                      placeholder="Select category"
                      [items$]="categories$"
                      (selectionChange)="updateSubCategories($event)">
    </app-filter-input>
    <app-filter-input id="subCategorySelect"
                      placeholder="Select sub-category"
                      [ngClass]="{'hidden': category?.subItems?.length <= 1}"
                      [items$]="subCategories$"
                      [(selection)]="subCategory">
    </app-filter-input>
    <select #difficulty id="difficultySelect">
      <option>Select difficulty</option>
      <option>Easy</option>
      <option>Medium</option>
      <option>Hard</option>
    </select>
    <button class="primary" id="createBtn" (click)="createQuiz(subCategory.id, difficulty.value)">Create</button>
  </div>
</div>
<div class="row">
   <app-quiz [questions]="questions$ | async"></app-quiz>
</div>
